[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# python-dotenv = "*"
# openpyxl = "*"
# dill = "*"
# geopy = "*"
# amplpy = "*"
# sympy = "*"
# umap-learn = "*"
# scikit-learn = "*"
numpy = "*"
pandas = "*"
pyyaml = "*"
pulp = "*"
networkx = "*"
click = "*"
loguru = "*"
typing-extensions = "*"

[dev-packages]
# # コードフォーマッター
# # コードフォーマッター
isort = "*"
flake8 = "*"
mypy = "*"
pyright = "*"
tox = "*"
black = "*"
# stub
types-pyyaml = "*"
pandas-stubs = "*"
networkx-stubs = "*"
# # デバッグ/検証
ipython = "*"
ipdb = "*"
pytest = "*"
# # ドキュメント
# latexify-py = "*"
# # notebook
# ipywidgets = "*"
# matplotlib = "*"
# jupyter = "*"
# jupyterlab = "*"
# seaborn = "*"
# tqdm = "*"
# # AWS
# minio = "*"
# chalice = "*"
# boto3 = "*"
# # visualization
# mitoinstaller = "*"
# autoviz = "*"
# pycaret = "*" # auto ml
# folium = "*"
# fire = "*"

[requires]
python_version = "3.10"

[scripts]
# install_labextensions = "jupyter labextension install @jupyter-widgets/jupyterlab-manager"
